# ignore all .o files 
*.o

# ignore all .json files
*.json

# ignore run.bat file
selection_sort/run.bat
insertion_sort/run.bat
bubble_sort/run.bat
binary_search/run.bat
fast_exponentiation/run.bat

# ignore program.exe file
selection_sort/program.exe
insertion_sort/program.exe
bubble_sort/program.exe
binary_search/program.exe
fast_exponentiation/program.exe
